.ipynb_checkpoints
.python-version

/home/mal/Documents/RWP/3_Regression/reg_model_all
/home/mal/Documents/RWP/2_Classification/class_model_all
/home/mal/Documents/RWP/2_Classification/class_tfrecords_all
/home/mal/Documents/RWP/3_Regression/reg_tfrecords_all

/home/mal/Documents/RWP/3_Regression/reg_model_all/
/home/mal/Documents/RWP/2_Classification/class_model_all/
/home/mal/Documents/RWP/2_Classification/class_tfrecords_all/
/home/mal/Documents/RWP/3_Regression/reg_tfrecords_all/

/home/mal/Documents/RWP/1_CODES/__pycache__
/home/mal/Documents/RWP/1_CODES/.ipynb_checkpoints
/home/mal/Documents/RWP/1_CODES/MatlabFunctions/.ipynb_checkpoints
/home/mal/Documents/RWP/1_CODES/.ipynb_checkpoints

/home/mal/Documents/RWP/1_CODES/__pycache__/
/home/mal/Documents/RWP/1_CODES/.ipynb_checkpoints/
/home/mal/Documents/RWP/1_CODES/MatlabFunctions/.ipynb_checkpoints/
/home/mal/Documents/RWP/1_CODES/.ipynb_checkpoints/
